:root {
  --cells-white: #f5f5f5;
  --cells-black: #292f2f;
  --place-knight-cells-color: #9fdb26;
  --set-target-cells-color: #dc143c;
  --move-cells-color: #4682b4;
  --chess-board-lables-font-size: 22px;
  font-size: 16px;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(14, 174, 87, 1) 0%,
    rgba(12, 116, 117, 1) 90%
  );
  color: #f8f8ff;
  overflow-x: hidden;
}

body.place-knight {
  cursor: none;
}

h1#title {
  margin: 30px 0;
  font-size: 3rem;
}

main {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

#chess-board {
  aspect-ratio: 1/1;
  width: min(60vmin, 600px);
  display: flex;
  pointer-events: none;
  outline: solid 1px #000000;
}

#chess-board .column {
  pointer-events: none;
  flex: 1;
  display: flex;
  flex-direction: column;
}

#chess-board .cell {
  flex: 1;
  position: relative;
  pointer-events: auto;
  position: relative;
  display: flex;
}

body.no-cursor #chess-board .cell {
  cursor: none;
}

body.place-knight #chess-board .cell:hover {
  background: var(--place-knight-cells-color);
}

#chess-board #starting-position {
  background-color: var(--place-knight-cells-color);
}

body.set-target #chess-board .cell:hover {
  cursor: pointer;
  background: var(--set-target-cells-color);
}

#chess-board #target {
  background-color: var(--set-target-cells-color);
}

#chess-board .move {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#chess-board .cell:not(#target) .move {
  background-color: var(--move-cells-color);
}

#chess-board .move p {
  margin: 0;
  font-family: "Roboto Mono", monospace;
  font-size: 2rem;
  font-weight: 900;
}

#chess-board .cell.white {
  background-color: var(--cells-white);
}

#chess-board .cell.black {
  background-color: var(--cells-black);
}

#chess-board .label {
  position: absolute;
  bottom: 0;
  margin: 0;
  font-family: "Roboto Mono", monospace;
  font-size: 1rem;
  z-index: 1;
}

#chess-board .cell.white .label {
  color: var(--cells-black);
}

#chess-board .cell.black .label {
  color: var(--cells-white);
}

#chess-board .cell[data-position="column-zero-row-zero"] .column.label {
  margin-left: 1ch;
}

#controls {
  width: min(90vmin, 600px);
  display: flex;
  align-items: center;
  gap: 2%;
}

#controls button {
  flex: 1;
  aspect-ratio: 3/1;
  cursor: pointer;
  background-color: rgb(10 10 10 / 30%);
  backdrop-filter: blur(2px);
  color: #ffffff;
  border-radius: 5px;
  border: solid 1px #c2f9c2;
}

#controls button.active,
#controls button:active:not(:disabled) {
  background-color: #8b0000;
  border-color: #8b0000;
  font-weight: 900;
}

#controls button:disabled {
  opacity: 0.5;
}

#knight-piece {
  width: 100%;
  position: absolute;
  bottom: 25%;
  right: 0%;
  transition-property: all;
  filter: drop-shadow(-1px -1px 1px darkslategrey);
  transition-duration: 0.4s;
  transition-timing-function: linear;
  z-index: 2;
}

.custom-cursor {
  z-index: 2;
}

.custom-cursor.hidden {
  display: none;
}

#knight-cursor {
  cursor: none;
  pointer-events: none;
  position: absolute;
  aspect-ratio: 1/1;
  width: 50px;
  background-image: url("./images/knight.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#volume-toggle,
#github-icon {
  position: absolute;

  top: 2%;
  cursor: pointer;
  font-size: 1.5rem;
  filter: brightness(0.8);
}

#volume-toggle:hover,
#github-icon:hover {
  transform: scale(1.02);
  filter: brightness(1);
}

#github-icon {
  right: 2%;
}

#volume-toggle {
  right: calc(2% + 1.5rem + 1%);
}

a,
a:visited,
a:hover,
a:active {
  color: white;
}

@media (orientation: portrait), (max-width: 600px) {
  :root {
    font-size: 12px;
  }

  #chess-board {
    width: min(90vmin, 600px);
  }
}
